.searchDiv {
  margin: 40px auto 80px auto;
}
.searchDiv > input {
  height: 30px;
  width: 300px;
  padding: 5px 20px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 15px;
}
.searchDiv > input:focus {
  outline: none;
}

.red {
  color: red;
}
.notfound {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
.notfound > img {
  width: 100%;
}

@media all and (min-width: 500px) and (max-width: 850px) {
  .notfound {
    width: 80%;
  }
  .searchDiv > input {
    width: 50%;
  }
}
@media all and (min-width: 80px) and (max-width: 580px) {
  .searchDiv > input {
    width: 80%;
  }
  .notfound {
    width: 80%;
  }
}
