.searchDiv {
  margin: 40px auto 80px auto;
}
.searchDiv > input {
  height: 30px;
  width: 300px;
  padding: 5px 20px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 15px;
}
.searchDiv > input:focus {
  outline: none;
}
@media all and (min-width: 80px) and (max-width: 499px) {
  .searchDiv > input {
    width: 80%;
  }
}

.red {
  color: red;
}
