.loading {
  color: rgb(63, 63, 63);
}
.red {
  color: red;
}
.backToHome {
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: rgb(0, 199, 0);
  border-radius: 12px;
  transition: all 0.3s linear;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.backToHome:hover {
  background-color: rgb(132, 218, 132);
  transition: all 0.3s linear;
  transform: scale(1.05);
}
.notfound {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
.notfound > img {
  width: 100%;
}
.singleContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70%;
  margin: 50px auto;
}
.singleContainer > div > img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
}
.singleContainer > div > h1 {
  text-align: center;
  color: red;
}
img,
p,
h1,
h2,
h3,
h4 {
  transition: all 0.2s linear;
}
img:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover {
  transform: scale(1.03);
  transition: all 0.2s linear;
}
.type {
  color: green;
  text-align: center;
}
.movieContaint {
  text-align: left;
  padding: 0 0 0 50px;
}
.recomend {
  padding: 8px 15px;
  background-color: gold;
  color: brown;
  border-radius: 12px;
  width: 130px;
  margin: 20px auto;
  text-align: center;
}

@media all and (min-width: 500px) and (max-width: 850px) {
  .notfound {
    width: 80%;
  }
  .singleContainer {
    flex-direction: column;
    padding: 20px;
  }
  .movieContaint {
    padding: 10px 30px;
  }
}
@media all and (min-width: 80px) and (max-width: 499px) {
  .notfound {
    width: 80%;
  }
  .singleContainer {
    flex-direction: column;
    padding: 20px;
  }
  .movieContaint {
    padding: 10px 30px;
  }
  .singleContainer > div > img {
    width: 100%;
  }
}
